.Description .temperature,
.Description .icon,
.Description .conditions {
  max-width: 33.33%;
}

.Description h1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 2px;
}

.Description h2 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.Description h3 {
  text-align: center;
  margin-top: 8px;
}

.Description ul {
  margin-left: -40px;
}

.Description li {
  list-style: none;
}

.Description .icon {
  text-align: center;
}

.Description .conditions {
  text-align: right;
}
