.Temperature {
  margin-bottom: -15px;
}

.Temperature .temp {
  font-size: 68px;
  font-weight: 700;
}

.Temperature .units {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  top: -34px;
}

.Temperature a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Temperature .active {
  color: #4f4cb2;
  font-size: 20px;
}
