.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .recent-cities {
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.Weather .weather-conditions {
  margin-top: 28px;
  max-width: 33.33%;
}

.Weather .weather-conditions h2 {
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.Weather .weather-description {
  list-style: none;
  text-align: right;
  font-size: 16px;
}

.Weather .city-date {
  max-width: 33.33%;
}

.Weather .city-date h1 {
  font-size: 25px;
  font-weight: 600;
}

.Weather .city {
  white-space: nowrap;
  margin-top: 25px;
}

.Weather .date-format {
  list-style: none;
  font-size: 16px;
}

.Weather .hour-forecast {
  font-size: 20px;
  margin-top: 25px;
  font-weight: 800;
}

.Weather .weather-forecast ul {
  list-style: none;
  padding: 15px;
}

.Weather .weather-forecast li {
  display: inline;
  padding-right: 50px;
}

.Weather .search-form {
  margin-top: 25px;
}

.Weather .search-button {
  margin-left: 10px;
}

.Weather .input-group {
  margin-bottom: 35px;
  justify-content: center;
}

.Weather .form-outline {
  width: 55%;
}

.Weather .temperature-unit {
  margin-top: 10px;
  list-style: none;
  text-align: center;
}

.Weather .weather-temperature {
  max-width: 33.33%;
  border: transparent;
  background-image: url("https://i.pinimg.com/564x/ee/c4/16/eec4169c5e89189f59d86f21829e0454.jpg");
  margin-top: -10px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.Weather .temperature {
  font-size: 50px;
  color: white;
}

.Weather .celsius-link,
.Weather .fahrenheit-link {
  font-weight: 600;
  font-size: 15px;
  position: relative;
  color: white;
  top: -22px;
  text-decoration: none;
}

.Weather .temperature-description {
  list-style: none;
  color: white;
  margin-bottom: 10px;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
}

.weather-app {
  padding: 20px;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 30px auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 3px grey;
}

body {
  background-image: url("https://i.pinimg.com/564x/ee/c4/16/eec4169c5e89189f59d86f21829e0454.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
}
